header > div {
  height: 70%;
  background-image: url(../img/monitorizar.jpg);
  background-repeat: no-repeat;
  background-size: 100%, 70%;
}

header > div h1 {
  width: 60%;
  padding: 18% 0% 0% 10%;
}
